
GamePlugin/.vs/GamePlugin/v16/.suo
GamePlugin/.vs/GamePlugin/v16/Server/sqlite3/db.lock
GamePlugin/.vs/GamePlugin/v16/Server/sqlite3/storage.ide
GamePlugin/.vs/GamePlugin/v16/Server/sqlite3/storage.ide-shm
GamePlugin/.vs/GamePlugin/v16/Server/sqlite3/storage.ide-wal
GamePlugin/GamePlugin/bin/Release/Game_PluginAPI.dll
GamePlugin/GamePlugin/bin/Release/GrandTheftAutoV_GamePlugin.pdb
GamePlugin/GamePlugin/bin/Release/GrandTheftAutoV_GamePlugin.dll
GamePlugin/GamePlugin/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
GamePlugin/GamePlugin/obj/Release/GamePlugin.csprojAssemblyReference.cache
GamePlugin/GamePlugin/obj/Release/GrandTheftAutoV_GamePlugin.csproj.CopyComplete
GamePlugin/GamePlugin/obj/Release/GrandTheftAutoV_GamePlugin.csproj.FileListAbsolute.txt
GamePlugin/GamePlugin/obj/Release/GrandTheftAutoV_GamePlugin.csprojAssemblyReference.cache
GamePlugin/GamePlugin/obj/Release/GrandTheftAutoV_GamePlugin.dll
GamePlugin/GamePlugin/obj/Release/GrandTheftAutoV_GamePlugin.pdb
GamePlugin/GTAScriptHookPlugin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GamePlugin/GTAScriptHookPlugin/obj/Debug/GTAScriptHookPlugin.csproj.FileListAbsolute.txt
GamePlugin/GTAScriptHookPlugin/obj/Debug/GTAScriptHookPlugin.dll
GamePlugin/GTAScriptHookPlugin/obj/Debug/GTAScriptHookPlugin.pdb
